<!DOCTYPE html>
<html lang="en">
{{>headers}}

<body>
    <div class="container-fuid con-bg">
        <div class="container up-con">
            <div class="row up-row d-flex justify-content-between">
                <div class="col-md-6 logo-con ">
                    <h3><i class="fa-solid fa-sun" style="color: #fdf749;"></i>my <span
                            style="color: aliceblue;">Logo</span></h3>
                </div>
               
            </div>
        </div>

<div class="container-fluid">
  <div class="row ms-5 mt-3 row_c">
            <div class="col-md-4 col-sm-4  cols">
                <div style="width: 28rem;" class="input-group  ">
                    <input id="inp" type="text" class="form-control" placeholder="Enter City Name"
                        aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="button" id="btn">Search</button>
                </div>
                <div class="card mt-4 ms-0.5" style="width: 14rem; height: 270px;">
                    <div class="card-body bg-light">
                        <p id="card" class="card-text">City: <span id="country"></span></p>
                        <h4>Humidity:<span id="hum"></span></h4>
                        <h4>Clouds:<span id="weather"></span></h4>
                        <h4>WindSpeed:<span id="city"></span></h4>
                        <h4>Temp:<span id="temp"></span></h4>
                    </div>
                </div>

            </div>
        </div>
</div>
      
    </div>



    <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
  </footer>
    {{>scripts}}
</body>

</html>
















